@import '../../../styles.scss';

.dots-btn {
    border-radius: 10px;
    border: 1px solid #D0D5DD;
    background: $white;
    width: 50px;
    height: 45px;
    font-size: 20px;
}

p {
    font-size: 19px;
}