<div class="sidebar-inner">
    <div class="logo">
        <img src="../../../assets/images/logo.png" alt="Logo" srcset="../../../assets/images/logo.png" loading="lazy">
    </div>

    <div class="navigations">
        <ul>
            @for (route of routes; track $index) {
                <li>
                    <a [routerLink]="[route.path]">
                        <i [class]="route.icon"></i>
                        <span>{{route.name}}</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>